<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>ヱンガワ</string>
		<key>shortcut</key>
		<string>えんがわ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>雲母坂</string>
		<key>shortcut</key>
		<string>きららざか</string>
	</dict>
</array>
</plist>
